name: Test

on:
  workflow_call:

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust-toolchain: [nightly-2025-05-20, nightly]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: ${{ matrix.rust-toolchain }}
          components: rust-src

      - name: Check rust version
        run: rustc --version --verbose

      - name: Run unit tests
        run: cargo test --target x86_64-unknown-linux-gnu --all-features -- --nocapture

      - name: Run doc tests
        run: cargo test --doc --all-features
